{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'pages_head.html' %}

	</head>


	<body>
		{% if user.username == author or user.profile.admin == True %}


		<div class="wrapper">

				{% include 'header.html' %}

				{% include 'news.html' %}

				
					<div class="content">
						<div class="profile">
							<form method="POST"  enctype="multipart/form-data" class="add_something" style="margin-top: 10px">
								{% csrf_token %}

								<div class="image_div">
									<img src="{{image}}" width="100%">
								</div>

								<p>{{ news_form.image }}</p>
								
								<p>Заголовок новости:</p>
								<p>{{ news_form.title }}</p>

								<p>Текст новости:</p>
								<p>{{ news_form.text }}</p>
								
								<button type="submit" class="button" style="float: right;">Сохранить изменения</button>
							</form>
						</div>

					
					</div>
				

				{% include 'footer.html' %}

			</div>
		{% else %}
			{% include 'not_found_page.html' %}
		{% endif %}


	</body>

</html>

