{% load static %}

<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}
	</head>


	<body>



		<div class="wrapper">

			{% include 'parts_of_page/header.html' %}

			{% include 'parts_of_page/news.html' %}

			<div class="content">
				<div class="main">
					<p>Общая информация о сервере: </p>

					<div style="margin-left: 50px;">
						<p>Это ванильный сервер, на нем вы сможете участвовать в РП мероприятий, присоединиться к городу или создать свой.</p>

						<p>Управляют сервером  Представители городов, им может быть например мер, хотя это зависит от города. Они распоряжаются валютой и общей территорией путем голосования. Вы тоже можете стать представителем города если создать свой город.(для этого нужно что бы ваш город одобрили остальные представители)</p>

						<p>Так же немалую роль играют ФБР, они могут банить, использовать /co i и тд. это довольно высокая должность, стать ей можно только при одобрении Представители городов и Администрация</p>

						<p>Администрация работает с сервером и почти не участвует в внутренней жизни сервера. </p>

						<p>Java IP:  178.33.4.197 </p>
						<p>Java version: 1.16.5 | 1.16.4</p>
						<p>Bedrock IP: 178.33.4.197 порт стандартный</p>
						<p>Bedrock version: 1.16.221.01</p>
						<p>Вк: <a href="https://vk.com/marupik">https://vk.com/marupik</a></p>
					</div>

					<p>Правила: </p>
					<div style="margin-left: 50px;">
						<p>НА  СЕРВЕРЕ</p>
						<p style="margin-left: 50px;">1) Запрещены читы, дюпы, багаюзы. Миникарта так же будет считатся читом, как и текстур пак на прозрачные блоки(xRay). ZeroTick фермы так же являются дюпом.</p>

						<p style="margin-left: 50px;">2) Запрещен гриф. Практически любые взаимадействия с тем что не являеися вашим можно назвать грифом, будте осторожны.</p>
						<p>В ДИСКОРДЕ</p>
						<p style="margin-left: 50px;">1) Не злоупотребляйте NSFW.</p>
						<p style="margin-left: 50px;">2) Не флудите.</p>
						<p style="margin-left: 50px;">3) Используйте каналы по их назначению.</p>
						<p style="margin-left: 50px;">4) Реклама так же запрещена.</p>

						<p>Но имейте в ввиду, что есть исключения, по этому что-то может быть прощенно и наоборот. Будте адекватными</p>
					</div>
					
					

					<p>Админы сервера: </p>
					<div style="margin-left: 50px;">
						<p>Gapisani, gapisani#3791</p>
						<p>Manerva, Manerva#0001</p>
					</div>

					<p>НА САЙТЕ ИСПОЛЬЗУЮТЬСЯ КУКИ.</p>
					<p>Админы сайта: </p>
					<div style="margin-left: 50px;">
						<p><a href="/marupik/profile/3/">Kikono</a>, kikono#4998</p>
						<p><a href="/marupik/profile/21/">Gapisani</a>, gapisani#3791</p>
						<p>Manerva, Manerva#0001</p>
					</div>
					
					<a style="float: right;" href="https://discord.gg/YANPsvNWd9" target="_blank">Задавайте вопросы на нашем дискорд сервере</a>
					
				</div>
			</div>

			{% include 'parts_of_page/footer.html' %}

		</div>



	</body>

</html>