{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}

	</head>


	<body>



		<div class="wrapper">

			{% include 'parts_of_page/header.html' %}

			{% include 'parts_of_page/news.html' %}

			<div class="content">
				<form method="POST"  enctype="multipart/form-data" class = "register_and_login">
					{% csrf_token %}
					{{ profile_form.as_p }}
					{{ user_form.as_p }}
					<div class="errors">
						{% for err in error %}
							<p>{{err}}</p>
						{% endfor %}
					</div>
					<button class="button" style="float: right;" type="submit">Зарегистрироватся</button>
				</form>
				<p class="register_and_login_text">Если вы уже зарегистрированы, залогинтесь <a href="/marupik/login">здесь</a></p>
				
			</div>

			{% include 'parts_of_page/footer.html' %}

		</div>



	</body>

</html>
<div class="newses_page">




	

</div>

