{% load static %}

<!DOCTYPE html>
<html>

<head>
	{% include 'parts_of_page/pages_head.html' %}
</head>
	

<body>


<div class = "wrapper">
	{% include 'parts_of_page/header.html' %}

	<div class = "content" style="width: 100%;">
			
				<div class = "news" id="news">
					<h1 class="title">{{news.title}}</h1>
					<p class="date">{{news.create_date}}</p>
					<p class="author">{{news.author}}:</p>
					{% if news.image %}
						<div class="img_div">
							<img src="{{ news.image.url }}" width="100%">
						</div>
					{% else %}
						<h2>Нет картинки</h2>
					{% endif %}
					<div class = "news_text">
						{% for text in news_text %}
							<p>{{text}}</p>
						{% endfor %}
					</div>
					{% if news.author == user %}
						<a class="button" style="float:left; margin-top: 25px; font-size: 17px;" href="{%url 'edit_one_news' news_id=news.pk%}">Редактировать</a>
					{% endif %}
				</div>
				
				<div class="comments_block">

					<h1 class="title">Коментарии:</h1>
					
					{% if islogin %}
						<div class="add_comment">
							<p>Написать новый коментарий:</p>
							<form class="add_something" method="post">
								{% csrf_token %}
								<p>{{ comment_form.body }}</p>
								<button type="submit" class="button" style="float: right;">Добавить</button>
							</form>
						</div>
					{% else %}
						<p>Зарегистрируйтесь, что бы написать коментарий</p>
					{% endif %}



					<div class="comment_list">
						{% for comment in comments %}
							<div class="comment" id="comment">
								<div class="info">
									<a href="{%url 'another_profile' user_id=comment.userid%}"><div class="image_div"><img src="{{comment.image}}" width="100%"></div></a>
										{% if comment.role == 'Президент' %}
											<p style="; text-align: center; font-size: 20px;"><a href="{%url 'another_profile' user_id=comment.userid%}" class="username" style="color: rgb(200, 0, 200)"> {{ comment.name }} </a></p>
										{% elif comment.role == 'ФБР' or comment.role == 'Глава ФБР' %}
											<p style="; text-align: center; font-size: 20px;"><a href="{%url 'another_profile' user_id=comment.userid%}" class="username" style="color: blue}">  {{ comment.name }} </a></p>
										{% elif comment.role == 'Мэр' %}
											<p style="; text-align: center; font-size: 20px;"><a href="{%url 'another_profile' user_id=comment.userid%}" class="username" style="color: brown">  {{ comment.name }} </a></p>
										{% elif comment.role == 'Журналист' %}
											<p style="; text-align: center; font-size: 20px;"><a href="{%url 'another_profile' user_id=comment.userid%}" class="username" style="color: rgb(0, 200, 100)">  {{ comment.name }} </a></p>
										{% elif style_file == 'css/dark1.css' %}
											<p style="; text-align: center; font-size: 20px;"><a href="{%url 'another_profile' user_id=comment.userid%}" class="username" style="color: white">  {{ comment.name }} </a></p>
										{% else %}
											<p style="; text-align: center; font-size: 20px;"><a href="{%url 'another_profile' user_id=comment.userid%}" class="username" style="color: black; ">  {{ comment.name }} </a></p>
										{% endif %}
									<p class="role"> {{ comment.role }} </p>
								</div>
								<p class="created"> {{ comment.created }} </p>
								<div class="text">
									<p>{{ comment.body }}</p>
								</div>

								{% if request.user.username == comment.name %}
									<div class="dropdown">
										<i  class="add material-icons" style="font-size: 50px;">more_vert</i>
										<div class="dropdown-content">
											<a href="{%url 'comment_delete' comment_id=comment.pk news_id=news.pk%}"><i  class="profile material-icons" style="font-size: 25px; color: #e82323;">delete</i></a>
											
											<a href="{%url 'comment_edit' comment_id=comment.pk news_id=news.pk%}#edit_comment" style="font-size: 25px; color: black;"><i class="material-icons">create</i></a>
											
										</div>
									</div>
								{% endif %}
								
									
							</div>
						{% empty %}
							<p>Здесь нету ни одного комментария</p>
						{% endfor %}
					</div>

				</div>
	</div>

	{% include 'parts_of_page/footer.html' %}
</div>


</body>
</html>
