{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}

	</head>


	<body>

		{% if role == 'Журналист' %}

			<div class="wrapper">

				{% include 'parts_of_page/header.html' %}

				{% include 'parts_of_page/news.html' %}

				
					<div class="content">
						<div class="profile">
							<form method="POST"  enctype="multipart/form-data" class="add_something" style="margin-top: 10px">
								{% csrf_token %}
								<p>{{ article_form.image }}</p>
								
								<p>Название статьи:</p>
								<p>{{ article_form.title }}</p>

								<p>Текст статьи:</p>
								<p>{{ article_form.text }}</p>
								
								<button type="submit" class="button" style="float: right;">Сохранить изменения</button>
							</form>
						</div>

					
					</div>

				{% include 'parts_of_page/footer.html' %}

			</div>

		{% else %}
			{% include 'primitive/not_found_page.html' %}
		{% endif %}


	</body>

</html>

