{% load static %}

<!DOCTYPE html>

<html>

	<head>
		{% include 'parts_of_page/pages_head.html' %}
	</head>


	<body>



		<div class="wrapper">

			{% include 'parts_of_page/header.html' %}

			{% include 'parts_of_page/news.html' %}

			<div class="content">
				

				{% for city in cities %}
					<div class="city">
						<div class="img_div"><img src="{{city.image.url}}" width="100%"></div>
						<div class="text_div">
							<h1>{{city.title}}</h1>
							<p class="mayor" style="font-size: 14px;height: 5px;">Мэр города: {{city.mayor}}</p>
							<p class="description">{{city.smol_text}}</p>
							<a href="{%url 'one_city' city_id=city.pk%}" style="float: left;">Подробнее...</a>
							<a href="{{city.contact_url}}" style="float: right;">Отправить заявку на вступление.</a>
						</div>
					</div>
				{% endfor %}

				<div class="pagination">
					<ul>
						<li class="normal">
							{% if cities.has_previous %}
								<a href="/marupik/cities?page={{ cities.previous_page_number }}"><i class="material-icons" style="font-size: 24px;">chevron_left</i></a>
							{% endif %}
						</li>
						{% for x in paginator.page_range %}
							<li {% if cities.number == x %}class="active">{% else %} class="normal"> {% endif %}<a href="/marupik/cities?page={{ x }}">{{x}}</a></li>
						{% endfor %}
						<li class="normal">
							{% if cities.has_next %}
								<a href="/marupik/cities?page={{ cities.next_page_number }}"><i class="material-icons" style="font-size: 24px;">chevron_right</i></a>
							{% endif %}
						</li>
					</ul>
				</div>

			</div>

			{% include 'parts_of_page/footer.html' %}

		</div>



	</body>

</html>