





.footer {
	clear: both;
	background-color:#7d5de8; 
	background: -moz-linear-gradient(top, #7d5de8 0%, #835de4 100%); 
	background: -webkit-linear-gradient(top, #7d5de8 0%, #835de4 100%); 
	background: -o-linear-gradient(top, #7d5de8 0%, #835de4 100%); 
	background: -ms-linear-gradient(top, #7d5de8 0% ,#835de4 100%);
	height: 100px;
}

.header {
	list-style-type: none;
	background-color:#7d5de8; 
	background: -moz-linear-gradient(top, #7d5de8 0%, #835de4 100%); 
	background: -webkit-linear-gradient(top, #7d5de8 0%, #835de4 100%); 
	background: -o-linear-gradient(top, #7d5de8 0%, #835de4 100%); 
	background: -ms-linear-gradient(top, #7d5de8 0% ,#835de4 100%);
	position: fixed;
	width: 100%;
	height: 95px;
	margin-top: 0px;
	padding-left: 0px;

	z-index: 1;
}







/*кнопки хедера*/

.button {
	text-decoration:none; 
	text-align:center; 
	padding:11px 33px; 
	-webkit-border-radius:7px 9px 7px 9px; 	 	
	border-radius: 7px 9px 7px 9px; 			
	-moz-border-radius-topleft:7px; 				
	-moz-border-radius-topright:9px; 
	-moz-border-radius-bottomleft:9px; 				
	-moz-border-radius-bottomright:7px;  
	font:23px Tahoma, Geneva, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#daa520; 
	background: -moz-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -webkit-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -o-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -ms-linear-gradient(top, #daa520 0% ,#d49e15 100%); 
	background: linear-gradient(top, #daa520 0% ,#d49e15 100%);   

	-webkit-box-shadow:4px 4px 0px #996600, inset 1px 2px 10px #d49e15; 
	-moz-box-shadow: 4px 4px 0px #996600,  inset 1px 2px 10px #d49e15;  
	box-shadow:4px 4px 0px #996600, inset 1px 2px 10px #d49e15; 
	border: none;
	border-color: transparent;

}



.button:hover {
	background-color:#d49e15; 
	background: -moz-linear-gradient(top, #d49e15 0%, #daa520 100%); 
	background: -webkit-linear-gradient(top, #d49e15 0%, #daa520 100%); 
	background: -o-linear-gradient(top, #d49e15 0%, #daa520 100%); 
	background: -ms-linear-gradient(top, #d49e15 0% ,#daa520 100%); 
	background: linear-gradient(top, #d49e15 0% ,#daa520 100%);   
	border: none;
	border-color: transparent;
}


.button:active{
	position:relative;
	top: 2px;
	left: 2px;
	-webkit-box-shadow:2px 2px 0px #996600, inset 1px 2px 10px #d49e15; 
	-moz-box-shadow: 2px 2px 0px #996600,  inset 1px 2px 10px #d49e15;  
	box-shadow:2px 2px 0px #996600, inset 1px 2px 10px #d49e15; 
	border: none;
	border-color: transparent;
}


/*дропдаун меню*/


.profile {
	color: #daa520;
}


.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 25px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 3;

}

.dropdown-content a {
	cursor: pointer;
	padding: 12px 8px;
	text-decoration: none;
	display: block;
	font:15px Tahoma, Geneva, sans-serif; 
	font-weight:bold; 
	color:#ffffff; 
	background-color:#daa520; 
	background: -moz-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -webkit-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -o-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -ms-linear-gradient(top, #daa520 0% ,#d49e15 100%); 
	background: linear-gradient(top, #daa520 0% ,#d49e15 100%);
	
	-webkit-box-shadow: inset 1px 2px 10px #d49e15; 
	-moz-box-shadow: inset 1px 2px 10px #d49e15;  
	box-shadow: inset 1px 2px 10px #d49e15;  

}

.dropdown-content a:hover {
	background-color:#d49e15; 
	background: -moz-linear-gradient(top, #d49e15 0%, #daa520 100%); 
	background: -webkit-linear-gradient(top, #d49e15 0%, #daa520 100%); 
	background: -o-linear-gradient(top, #d49e15 0%, #daa520 100%); 
	background: -ms-linear-gradient(top, #d49e15 0% ,#daa520 100%); 
	background: linear-gradient(top, #d49e15 0% ,#daa520 100%);  
}


.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}











/*Новости*/

.news_text a{
	margin-top: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}



/*пагинация*/




.active {
	background-color:#daa520; 
	background: -moz-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -webkit-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -o-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -ms-linear-gradient(top, #daa520 0% ,#d49e15 100%); 
	background: linear-gradient(top, #d49e15 0% ,#d49e15 100%);   
}






/*регистрация и логин*/

.register_and_login input {
	height: 30px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: rgba(218, 165, 32, 0.3);
	border-color: rgb(218, 165, 32); 
	margin-right: 10px;
	margin-left: 20px;
}






/*обновления профиля*/




.change_info textarea {
	background-color: rgba(218, 165, 32, 0.3);
	border-color: rgb(218, 165, 32);  
	font-family:Trebuchet MS;
	font-size: 15px;
}





/*add_something*/



.add_something ul li{
	font-family:Trebuchet MS;
	margin: 0;
	font-size: 19px;
	list-style-type: none;
}


.add_something input {
	height: 30px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: rgba(218, 165, 32, 0.3);
	border-color: rgb(218, 165, 32); 
	margin-right: 10px;
	margin-left: 20px;
}

.add_something textarea {
	width: 100%;
	height: 300px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: rgba(218, 165, 32, 0.3);
	border-color: rgb(218, 165, 32); 
	margin-right: 10px;
	margin-left: 20px;
}





.add_something p #id_user_image{
	color: black;
	height: 30px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: transparent;
	border-color: rgb(218, 165, 32); 
	margin-right: 10px;
	margin-left: 15px;

}






/*города*/





.one_city h1 {
	text-decoration: none;
	font-family: Verdana;
	color: #ffffff;
	font-weight: 800;
	position: relative;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-variant: small-caps;
	background-color: #daa520;
	background: -moz-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -webkit-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -o-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -ms-linear-gradient(top, #daa520 0% ,#d49e15 100%); 
	background: linear-gradient(top, #daa520 0% ,#d49e15 100%) ;
	clip-path: polygon(0 0, 100% 0, 100% 63%, 97% 100%, 3% 100%, 0 59%);
	border-radius: 2px;
	width: 100%;
	padding: 10px 0px 20px 0px;
	height: 50px;
	
}






/*Коментарии*/


.comments_block .dropdown-content a {
	background-color: transparent; 
	background: -moz-linear-gradient(top, transparent 0%, transparent 100%); 
	background: -webkit-linear-gradient(top, transparent 0%, transparent 100%); 
	background: -o-linear-gradient(top, transparent 0%, transparent 100%); 
	background: -ms-linear-gradient(top, transparent 0% ,transparent 100%); 
	background: linear-gradient(top, transparent 0% ,transparent 100%);
	
	-webkit-box-shadow: inset 1px 2px 10px transparent; 
	-moz-box-shadow: inset 1px 2px 10px transparent;  
	box-shadow: inset 1px 2px 10px transparent;  

}



.edit_comment textarea {
	width: 80%;
	height: 200px;
	padding: 6px 12px;
	font-size: 20px;
	line-height: 1.3333333;
	border-radius: 3px;
	background-color: rgba(218, 165, 32, 0.3);
	border-color: rgb(218, 165, 32); 
	margin-right: 10px;
	margin-left: 20px;
}



/*главная*/

.main .main_title {
	text-decoration: none;
	font-family: Verdana;
	color: #000000;
	font-weight: 800;
	position: relative;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-variant: small-caps;
	border-radius: 2px;
	width: 100%;
	padding: 10px 0px 20px 0px;
	height: 50px;

}










/*Текст*/


a {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #039be5;
}

p {
	font-family:Trebuchet MS;
	font-size: 25px;
	margin: 0;
	margin-top: 15px;
}


.title {
	text-decoration: none;
	font-family: Verdana;
	color: #ffffff;
	font-weight: 800;
	position: relative;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-variant: small-caps;
	background-color: #daa520;
	background: -moz-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -webkit-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -o-linear-gradient(top, #daa520 0%, #d49e15 100%); 
	background: -ms-linear-gradient(top, #daa520 0% ,#d49e15 100%); 
	background: linear-gradient(top, #daa520 0% ,#d49e15 100%) ;
	clip-path: polygon(0 0, 100% 0, 100% 63%, 97% 100%, 3% 100%, 0 59%);
	border-radius: 2px;
	width: 100%;
	padding: 10px 0px 20px 0px;
	height: 50px;
}

