body {
	background: #000000 url(https://www.publicdomainpictures.net/pictures/320000/velka/kosmos-sterne-weltall-aurora-1579123774NIx.jpg) repeat scroll 0 0;
}






.footer {
	background-color:#010101; 
	background: -moz-linear-gradient(top, #010101 0%, #000000 100%); 
	background: -webkit-linear-gradient(top, #010101 0%, #000000 100%); 
	background: -o-linear-gradient(top, #010101 0%, #000000 100%); 
	background: -ms-linear-gradient(top, #010101 0% ,#000000 100%);
}

.header {
	background-color:#010101; 
	background: -moz-linear-gradient(top, #010101 0%, #000000 100%); 
	background: -webkit-linear-gradient(top, #010101 0%, #000000 100%); 
	background: -o-linear-gradient(top, #010101 0%, #000000 100%); 
	background: -ms-linear-gradient(top, #010101 0% ,#000000 100%);
}








/*кнопки хедера*/

.button { 
	color:#363636; 
	background-color:#f2f2f2; 
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -ms-linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	background: linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%);   

	-webkit-box-shadow:4px 4px 0px #d6d6d6, inset 1px 2px 10px #e3e3e3; 
	-moz-box-shadow: 4px 4px 0px #d6d6d6,  inset 1px 2px 10px #e3e3e3;  
	box-shadow:4px 4px 0px #d6d6d6, inset 1px 2px 10px #e3e3e3; 

}



.button:hover {
	background-color:#e3e3e3; 
	background: -moz-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -webkit-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -o-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -ms-linear-gradient(top, #e3e3e3 0% ,#f2f2f2 100%); 
	background: linear-gradient(top, #e3e3e3 0% ,#f2f2f2 100%);   

}


.button:active{
	-webkit-box-shadow:2px 2px 0px #d6d6d6, inset 1px 2px 10px #e3e3e3; 
	-moz-box-shadow: 2px 2px 0px #d6d6d6,  inset 1px 2px 10px #e3e3e3;  
	box-shadow:2px 2px 0px #d6d6d6, inset 1px 2px 10px #e3e3e3; 

}


/*дропдаун меню*/


.profile {
	color: #f2f2f2;
}



.dropdown-content a {
	color:#363636; 
	background-color:#f2f2f2; 
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -ms-linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	background: linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	
	-webkit-box-shadow: inset 1px 2px 10px #e3e3e3; 
	-moz-box-shadow: inset 1px 2px 10px #e3e3e3;  
	box-shadow: inset 1px 2px 10px #e3e3e3;  

}

.dropdown-content a:hover {
	background-color:#e3e3e3; 
	background: -moz-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -webkit-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -o-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -ms-linear-gradient(top, #e3e3e3 0% ,#f2f2f2 100%); 
	background: linear-gradient(top, #e3e3e3 0% ,#f2f2f2 100%);
}




.dropup-content a {
	color:#363636; 
	background-color:#f2f2f2; 
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -ms-linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	background: linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	
	-webkit-box-shadow: inset 1px 2px 10px #e3e3e3; 
	-moz-box-shadow: inset 1px 2px 10px #e3e3e3;  
	box-shadow: inset 1px 2px 10px #e3e3e3;  

}

.dropup-content a:hover {
	background-color:#e3e3e3; 
	background: -moz-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -webkit-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -o-linear-gradient(top, #e3e3e3 0%, #f2f2f2 100%); 
	background: -ms-linear-gradient(top, #e3e3e3 0% ,#f2f2f2 100%); 
	background: linear-gradient(top, #e3e3e3 0% ,#f2f2f2 100%);
}











/*Новости*/

.news_text a{
	margin-top: 10px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}



/*пагинация*/


 .normal a {
	color: #ffffff;
 }

 .active a {
	color: #363636;
 }


.active {
	background-color:#f2f2f2; 
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -ms-linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	background: linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%);  
}






/*регистрация и логин*/

.register_and_login input {
	background-color: #f2f2f2;
	border-color: #000000; 
}






/*обновления профиля*/


.profile .add_image #id_user_image{
	color: #ffffff;
}

.change_info textarea {
	background-color: #f2f2f2;
	border-color: #000000;
}





/*add_something*/



.add_something ul li{
	font-family:Trebuchet MS;
}


.add_something input {
	background-color: #f2f2f2;
	border-color: #000000; 
}

.add_something textarea {
	background-color: #f2f2f2;
	border-color: #000000; 
}





.add_something p{
	color: #ffffff;
}






/*города*/



.city h1 {
	color:#e3e3e3;
	
}

.one_city h1 {
	color:#363636; 
	background-color:#f2f2f2; 
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -ms-linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	background: linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%);  
	
}






/*Коментарии*/

.add {
	color: #f2f2f2;
}




.edit_comment textarea {
	background-color: #f2f2f2;
	border-color: #000000; 
}



/*главная*/

.main .main_title {
	font-family: Verdana;
	color: #e3e3e3;

}










/*Текст*/


a {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: #9ec6ff;
}

p {
	font-family:Trebuchet MS;
	color: #ffffff;
}


.title {
	font-family: Verdana;
	color:#363636; 
	background-color:#f2f2f2; 
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -webkit-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -o-linear-gradient(top, #f2f2f2 0%, #e3e3e3 100%); 
	background: -ms-linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%); 
	background: linear-gradient(top, #f2f2f2 0% ,#e3e3e3 100%);  
}

