{% load static %}

<!DOCTYPE html>

<html>

	<head>
		{% include 'pages_head.html' %}
	</head>


	<body>



		<div class="wrapper">

			{% include 'header.html' %}

			{% include 'news.html' %}

			<div class="content">
				<h1 class="title" style="text-align: center;">Карта сервера</h1>
				<p style="font-size: 25px;">Это онлайн карта сервера. Тут вы можете посмотреть на все прогруженые чанки в разных мирах, как в 2д так и в 3д.</p>
				<iframe class="map" height="100%" width="99%" src="http://178.33.4.197:8123/"></iframe>
				<a class="button" style="margin-top: 50px;" href="http://178.33.4.197:8123/">В полный экран</a>
			</div>

			{% include 'footer.html' %}

		</div>



	</body>

</html>