{% load static %}


<!DOCTYPE html>

<html>

	<head>
		{% include 'pages_head.html' %}

	</head>


	<body>



		<div class="wrapper">

			{% include 'header.html' %}

			{% include 'news.html' %}

			<div class="content">
				<div class="profile">
					<form method="POST"  enctype="multipart/form-data" class="register_and_login" style="margin-top: 10px">
						{% csrf_token %}
						<div class="image_div">
							<img src="{{user_image}}" width="100%">
						</div>
						<div class="add_image">
							{{ profile_form.user_image }}
						</div>

						<div class="change_username">
							{{ user_form.as_p }}
						</div>

						<div class="change_info">
							{{ profile_form.info }}
						</div>



						<div class="errors">	
							{% for err in error %}
								<p>{{err}}</p>
							{% endfor %}
						</div>
						<button type="submit" class="button" style="float: right;">Сохранить изменения</button>
					</form>
				</div>

			
			</div>

			{% include 'footer.html' %}

		</div>



	</body>

</html>

