


<div class="footer">
	<p>footer</p>

	<div class="change_theme">
		<div class="dropup">
			<button class="button" onclick="myFunction()" style="font-size: 17px;">Сменить тему</button>
			<div  id="myDropdown" class="dropup-content">
				<a href="/marupik/change_theme/purpule_gold">Фиолетовое золото</a>
				<a href="/marupik/change_theme/dark_cherry_pattern">Узор тёмноя вишни</a>
				<a href="/marupik/change_theme/dark">Ч/Б Тёмная</a>
				<a href="/marupik/change_theme/light">Ч/Б Светлая</a>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>