
{% load static %}

	
	<div class="header">

		<a href="/marupik/main"><img src="{% static header_img %}"></a>

		<li style="margin-top: 7.5px;">
			<div class="dropdown">
				<i  class="profile material-icons" style="font-size: 80px; ">person</i>
				<div class="dropdown-content">
					{% if islogin is True %}
							<a href="/marupik/profile">Профиль</a>
						{% endif %}
					{% if islogin is False %}
							<a href="/marupik/register">Регистрация</a>
						{% endif %}
						{% if islogin is False %}
							<a href="/marupik/login">Логин</a>
						{% endif %}
						{% if islogin is True %}
							<a href="/marupik/logout">Выйти</a>
					{% endif %}
				</div>
			</div>
		</li>
		<li><a href="/marupik/info" class="button">Инфо</a></li>

		{% if user.profile.registered or request.user.profile.admin %}
			{% if request.user.profile.registered == False or islogin == False %}
				<li><a href="/marupik/forms" class="button">Проходка</a></li><!--тестовое название--> <!--или нет?-->
			{% elif request.user.profile.admin %}
				<li><a href="/marupik/forms" class="button">Проходки</a></li>
			{% endif %}
		{% else %}
			<li><a href="/marupik/form/add" class="button">Проходкa</a></li>
		{% endif %}
		<li><a href="/marupik/news" class="button"/>Новости</a></li>
		<li><a href="/marupik/map" class="button">Карта</a></li>
		<li><a href="/marupik/cities" class="button">Города</a></li>
		<li><a href="/marupik/articles" class="button">Статьи</a></li>
	</div>
